/*** *** *** PAGE OVERVIEW PICTURE *** *** ***/
#page-overview {
  width: 100%;
  color: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

.page-overview__images {
  background-image: url("pics/pic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  width: 100vw;
  height: 85vh;
  transition: all 1.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* .page-overview__images:hover {
  box-shadow: 0px 0px 10px orange;
} */

.image__button {
  width: 3rem;
  height: 95%;
  color: white;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font: inherit;
  font-size: 3rem;
  text-shadow: 0px 0px 3px #242424;
  outline: none;
}

.next {
  right: 0.5%;
}

.prev {
  left: 0.5%;
}

.image__button:hover,
.image__button:active {
  color: orange;
  text-shadow: 0px 0px 2px goldenrod;
}

/*** *** *** PAGE CONTENTS PRODUCTS *** *** ***/

#page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

#page-contents a {
  text-decoration: none;
}
.section-title {
  background: orange;
  border-radius: 5px;
  width: 45vw;
  padding: 1rem;
  min-width: max-content;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.section-title:hover {
  color: orange;
  background: white;
  box-shadow: 0px 0px 10px orange;
  /* cursor: default; */
}

/*** *** *** PRODUCTS *** *** ***/
.products__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.product {
  color: white;
  background: darkorange;
  border-radius: 10px;
  /* display: inline-block; */
  margin: 0.5rem 0;
  padding: 1rem;
  width: 75vw;
  min-width: 9rem;
  text-align: center;
  text-shadow: 1px 1px black;
  cursor: default;
  transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.product__title {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 2rem;
}

.product__price {
  color: #242424;
  background: white;
  text-shadow: none;
  margin: 1rem 0;
  padding: 1rem 0;
  border: 3px solid black;
}

.product__specs {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.product__specs li {
  padding: 0.4rem;
}

.product--highlighted {
  background: orange;
  order: -1;
}

.product__recommended {
  background: #242424;
  color: orange;
  padding: 8px 16px;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.product__button {
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  background: none;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font: inherit;
  font-size: 1.5rem;
  font-weight: bold;
}

.product__button:hover {
  color: orange;
  background: white;
}

.product__button:focus {
  outline: none;
}

/*** *** *** PRODUCT-INTRODUCTION *** *** ***/

#product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-info a {
  text-decoration: none;
}

.product-info__items {
  color: #242424;
  background: orange;
  border-radius: 10px;
  font-weight: bold;
  padding: 1rem;
  width: 75vw;
  min-width: 8rem;
  margin: 1rem 0;
  transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.product-info__logo {
  width: 30vw;
  height: 30vw;
  max-width: 13rem;
  max-height: 13rem;
  min-width: 10rem;
  min-height: 10rem;
  border: 6px solid #242424;
  border-radius: 50%;
  margin: 1rem 0;
  transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.product-info__logo:hover,
.product-info__logo:active {
  box-shadow: inset 0px 0px 20px black;
}

#windows {
  background: url(pics/windows.svg) darkorange;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

#apple {
  background: url(pics/apple.svg) darkorange;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#android {
  background: url(pics/android.svg) darkorange;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.product-info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
  list-style: none;
  transition: all 3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@media (min-width: 48rem) and (orientation: landscape) {
  .image__button {
    font-size: 4rem;
  }

  .section-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }

  .products__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .product {
    margin: 1rem 0;
    width: 30vw;
    max-width: 32rem;
  }

  .product--highlighted {
    order: 0;
  }
  .product__recommended {
    font-size: 1.2rem;
  }

  .product-info__items {
    width: 100%;
    border-radius: 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .product-info__logo {
    max-width: 17rem;
    max-height: 17rem;
    min-width: 12rem;
    min-height: 12rem;
  }

  .product-info__item {
    font-size: 1.3rem;
  }
}
