@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #242424;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  margin-top: 4rem;
}

.back-drop {
  background-color: rgba(36, 36, 36, 0.8);
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*** *** *** MODAL *** *** ***/
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: fixed;
  z-index: 150;
  width: 60%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: orange;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(0) translateY(-100%);
          transform: translateX(0) translateY(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 20%;
  visibility: hidden;
}

.modal__title {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

.modal__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__action {
  width: 20vw;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  color: white;
  font: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  border: 4px solid white;
  border-radius: 5px;
  background: transparent;
  text-decoration: none;
  padding: 0.5rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 2px;
  cursor: pointer;
}

.modal__action:hover, .modal__action:active {
  background: white;
  color: orange;
}

.modal__action:focus {
  outline: none;
}

/*** *** *** HAMBURGER BUTTON *** *** ***/
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: orange;
  display: block;
  margin: 0.6rem 0;
}

/*** *** *** PAGE MAIN LOGO HEADER *** *** ***/
.main-header {
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(36, 36, 36, 0.5);
  padding: 0.5rem;
  width: 100%;
  /*** *** *** MAIN HEADER TITLE *** *** ***/
}

.main-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__logo img {
  height: 2.5rem;
  margin: 0.3rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-header__logo img:hover, .main-header__logo img:active {
  -webkit-filter: drop-shadow(0px 0px 4px orange);
          filter: drop-shadow(0px 0px 4px orange);
}

.main-header__brand {
  display: none;
  color: orange;
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  font-size: 2.3rem;
}

.main-header__brand:hover {
  text-shadow: 0px 0px 10px orange;
  color: white;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 200;
  background: rgba(36, 36, 36, 0.7);
  width: 80vw;
  height: 100vh;
  opacity: 0;
  -webkit-transform: translateX(-100%) translateY(0);
          transform: translateX(-100%) translateY(0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.mobile-nav__close-btn {
  width: 2.5rem;
  height: 2.5rem;
  color: orange;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid orange;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 200;
}

.mobile-nav__close-btn:hover {
  background-color: orange;
  color: white;
}

.mobile-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.mobile-nav__item {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.mobile-nav__link {
  color: orange;
  width: 80%;
  height: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mobile-nav__link:hover {
  color: white;
  border-bottom: 4px solid white;
}

/*** *** *** NAV BAR ITEMS *** *** ***/
.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.main-nav__items__item {
  font-size: 1.3rem;
  font-weight: bold;
  color: orange;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-nav__items__item:hover, .main-nav__items__item:active {
  border-bottom: 3px solid white;
  color: white;
}

.main-nav__items__item.cta {
  padding: 0.5rem;
  border: 3px solid orange;
  border-radius: 5px;
}

.main-nav__items__item.cta:hover, .main-nav__items__item.cta:active {
  color: white;
  background: orange;
}

/*** *** *** PAGE FOOTER *** *** ***/
.main-footer {
  background: rgba(36, 36, 36, 0.6);
  margin-top: 3rem;
}

.main-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
}

.main-footer__links__link {
  width: 40vw;
  min-width: 8.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5rem 0;
  text-align: center;
  color: orange;
  border: 3px orange solid;
  border-radius: 5px;
  text-decoration: none;
}

.main-footer__links__link:hover, .main-footer__links__link:active {
  color: white;
  background: orange;
}

.open {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  visibility: visible;
}

@media (min-width: 768px) and (orientation: landscape) {
  .main-header__brand {
    font-size: 2.6rem;
    display: block;
  }
  .modal__title {
    font-size: 2.5rem;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .modal__action {
    font-size: 1rem;
  }
  .modal__action--negative {
    display: inline-block;
  }
  .main-nav {
    display: inline-block;
  }
  .toggle-button {
    display: none;
  }
  .main-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .main-footer__links__link {
    margin: 0 0.5rem;
    min-width: 6rem;
    max-width: 14rem;
    font-size: 1.2rem;
  }
}

.glitch {
  position: relative;
  /* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(65px, 9999px, 75px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  5% {
    clip: rect(45px, 9999px, 23px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  10% {
    clip: rect(58px, 9999px, 63px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  15% {
    clip: rect(20px, 9999px, 52px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  20% {
    clip: rect(39px, 9999px, 20px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  25% {
    clip: rect(97px, 9999px, 13px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  30% {
    clip: rect(67px, 9999px, 8px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  35% {
    clip: rect(45px, 9999px, 18px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  40% {
    clip: rect(20px, 9999px, 94px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  45% {
    clip: rect(8px, 9999px, 95px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  50% {
    clip: rect(60px, 9999px, 44px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  55% {
    clip: rect(28px, 9999px, 37px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  60% {
    clip: rect(71px, 9999px, 60px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  65% {
    clip: rect(32px, 9999px, 100px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  70% {
    clip: rect(94px, 9999px, 95px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  75% {
    clip: rect(51px, 9999px, 23px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  80% {
    clip: rect(85px, 9999px, 3px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  85% {
    clip: rect(90px, 9999px, 87px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  90% {
    clip: rect(14px, 9999px, 11px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  95% {
    clip: rect(17px, 9999px, 4px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  100% {
    clip: rect(30px, 9999px, 47px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(65px, 9999px, 75px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  5% {
    clip: rect(45px, 9999px, 23px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  10% {
    clip: rect(58px, 9999px, 63px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  15% {
    clip: rect(20px, 9999px, 52px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  20% {
    clip: rect(39px, 9999px, 20px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  25% {
    clip: rect(97px, 9999px, 13px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  30% {
    clip: rect(67px, 9999px, 8px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  35% {
    clip: rect(45px, 9999px, 18px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  40% {
    clip: rect(20px, 9999px, 94px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  45% {
    clip: rect(8px, 9999px, 95px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  50% {
    clip: rect(60px, 9999px, 44px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  55% {
    clip: rect(28px, 9999px, 37px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  60% {
    clip: rect(71px, 9999px, 60px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  65% {
    clip: rect(32px, 9999px, 100px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  70% {
    clip: rect(94px, 9999px, 95px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  75% {
    clip: rect(51px, 9999px, 23px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  80% {
    clip: rect(85px, 9999px, 3px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  85% {
    clip: rect(90px, 9999px, 87px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  90% {
    clip: rect(14px, 9999px, 11px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  95% {
    clip: rect(17px, 9999px, 4px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  100% {
    clip: rect(30px, 9999px, 47px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(6px, 9999px, 1px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  5% {
    clip: rect(22px, 9999px, 45px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  10% {
    clip: rect(80px, 9999px, 3px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  15% {
    clip: rect(14px, 9999px, 13px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  20% {
    clip: rect(56px, 9999px, 27px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  25% {
    clip: rect(68px, 9999px, 41px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  30% {
    clip: rect(63px, 9999px, 33px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  35% {
    clip: rect(18px, 9999px, 9px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  40% {
    clip: rect(25px, 9999px, 79px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  45% {
    clip: rect(80px, 9999px, 54px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  50% {
    clip: rect(93px, 9999px, 4px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  55% {
    clip: rect(41px, 9999px, 34px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  60% {
    clip: rect(9px, 9999px, 2px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  65% {
    clip: rect(72px, 9999px, 69px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  70% {
    clip: rect(15px, 9999px, 60px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  75% {
    clip: rect(18px, 9999px, 66px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  80% {
    clip: rect(78px, 9999px, 53px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  85% {
    clip: rect(59px, 9999px, 23px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  90% {
    clip: rect(72px, 9999px, 67px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  95% {
    clip: rect(98px, 9999px, 27px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  100% {
    clip: rect(91px, 9999px, 24px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(6px, 9999px, 1px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  5% {
    clip: rect(22px, 9999px, 45px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  10% {
    clip: rect(80px, 9999px, 3px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  15% {
    clip: rect(14px, 9999px, 13px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  20% {
    clip: rect(56px, 9999px, 27px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  25% {
    clip: rect(68px, 9999px, 41px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  30% {
    clip: rect(63px, 9999px, 33px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  35% {
    clip: rect(18px, 9999px, 9px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  40% {
    clip: rect(25px, 9999px, 79px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  45% {
    clip: rect(80px, 9999px, 54px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  50% {
    clip: rect(93px, 9999px, 4px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  55% {
    clip: rect(41px, 9999px, 34px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  60% {
    clip: rect(9px, 9999px, 2px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  65% {
    clip: rect(72px, 9999px, 69px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  70% {
    clip: rect(15px, 9999px, 60px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  75% {
    clip: rect(18px, 9999px, 66px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  80% {
    clip: rect(78px, 9999px, 53px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  85% {
    clip: rect(59px, 9999px, 23px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  90% {
    clip: rect(72px, 9999px, 67px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  95% {
    clip: rect(98px, 9999px, 27px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  100% {
    clip: rect(91px, 9999px, 24px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
}
/*# sourceMappingURL=shared.css.map */