@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #242424;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding-top: 4rem;
}

.back-drop {
  background-color: rgba(36, 36, 36, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  display: none;
  backdrop-filter: blur(5px) grayscale(70%);
}

/*** *** *** MODAL *** *** ***/
.modal {
  position: fixed;
  z-index: 200;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  min-width: 10rem;
  background-color: orange;
  padding: 1rem;
  border: 4px solid #242424;
  border-radius: 10px;
  text-align: center;
  display: none;
  opacity: 0;
  transform: translateY(-5rem);
}

.modal__title {
  color: white;
  text-shadow: 0px 0px 1px 3px black;
  margin: 0 0 1rem 0;
  text-align: center;
  font-size: 2rem;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  color: white;
  font: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 1rem;
  border: 2px solid white;
  border-radius: 5px;
  background: orange;
  padding: 0.5rem;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: white;
  color: orange;
}

.modal__action:focus {
  outline: none;
}

.modal__action--negative {
  display: none;
}

/*** *** *** PAGE MAIN LOGO HEADER *** *** ***/
.main-header {
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(36, 36, 36, 0.5);
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 100%;
}

.main-header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

/*** *** *** HAMBURGER BUTTON *** *** ***/
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: orange;
  display: block;
  margin: 0.6rem 0;
}

/*** *** *** LOGO IMAGE *** *** ***/
.main-header__logo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.main-header__logo img {
  height: 2.5rem;
  margin: 0.3rem;
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-header__logo img:hover,
.main-header__logo img:active {
  filter: drop-shadow(0px 0px 2px orange);
}

/*** *** *** MAIN HEADER TITLE *** *** ***/
.main-header__brand {
  display: none;
  color: orange;
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  font-size: 2.3rem;
}

.main-header__brand:hover {
  text-shadow: 0px 0px 10px orange;
  color: white;
}

/*** *** *** MOBILE NAV *** *** ***/
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  background: rgba(36, 36, 36, 0.8);
  width: 80vw;
  height: 100vh;
  opacity: 0;
  transform: translateX(-10rem);
}

.mobile-nav__items {
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  text-decoration: none;
}

/*** *** *** NAV BAR ITEMS *** *** ***/
.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.main-nav__item {
  display: flex;
  align-items: center;
}

.main-nav__item a,
.mobile-nav__item a {
  font-size: 1.3rem;
  font-weight: bold;
  color: orange;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.4rem 0;
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  border-bottom: 0.3rem solid white;
  color: white;
  text-shadow: 0px 0px 5px orange;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  font-weight: bold;
  padding: 0.5rem;
  color: orange;
  border: 3px solid orange;
  border-radius: 5px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: white;
  background: orange;
  text-shadow: none;
  border: 3px solid orange;
  box-shadow: 0px 0px 5px orange;
}

/*** *** *** PAGE FOOTER *** *** ***/
.main-footer {
  background: rgba(36, 36, 36, 0.6);
  background-attachment: fixed;
  backdrop-filter: blur(5px);
  margin-top: 3rem;
  padding: 0;
}

.main-footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 2rem 0;
  margin: 0;
  /* width: 100vw; */
}

.main-footer__link {
  width: 40vw;
  min-width: 8.5rem;
  margin: 0.5rem 0;
}

.main-footer__link a {
  display: flex;
  justify-content: center;
  color: orange;
  border: 3px orange solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: white;
  background: orange;
}

.open {
  display: block !important;
  opacity: 1;
  transform: translateY(0) translateX(0);
}

@media (min-width: 768px) and (orientation: landscape) {
  .main-header__brand {
    font-size: 2.6rem;
    display: block;
  }

  .modal__title {
    font-size: 2.5rem;
    min-width: max-content;
  }

  .modal__action {
    font-size: 1rem;
  }

  .modal__action--negative {
    display: inline-block;
  }

  .main-nav {
    display: inline-block;
  }

  .toggle-button {
    display: none;
  }

  .main-footer__links {
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
  }

  .main-footer__link {
    margin: 0 0.2rem;
    /* width: 12rem; */
    min-width: 6rem;
    max-width: 14rem;
  }

  .main-footer__link a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=shared.css.map */

.glitch {
  position: relative;
  color: orange;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(51px, 9999px, 67px, 0);
    transform: skew(0.42deg);
  }
  5% {
    clip: rect(61px, 9999px, 65px, 0);
    transform: skew(0.37deg);
  }
  10% {
    clip: rect(76px, 9999px, 2px, 0);
    transform: skew(0.26deg);
  }
  15% {
    clip: rect(20px, 9999px, 68px, 0);
    transform: skew(0.88deg);
  }
  20% {
    clip: rect(62px, 9999px, 84px, 0);
    transform: skew(0.18deg);
  }
  25% {
    clip: rect(32px, 9999px, 63px, 0);
    transform: skew(0.35deg);
  }
  30% {
    clip: rect(88px, 9999px, 42px, 0);
    transform: skew(0.42deg);
  }
  35% {
    clip: rect(27px, 9999px, 34px, 0);
    transform: skew(0.72deg);
  }
  40% {
    clip: rect(26px, 9999px, 56px, 0);
    transform: skew(0.74deg);
  }
  45% {
    clip: rect(7px, 9999px, 11px, 0);
    transform: skew(0.44deg);
  }
  50% {
    clip: rect(75px, 9999px, 70px, 0);
    transform: skew(0.93deg);
  }
  55% {
    clip: rect(11px, 9999px, 72px, 0);
    transform: skew(0.05deg);
  }
  60% {
    clip: rect(18px, 9999px, 8px, 0);
    transform: skew(0.72deg);
  }
  65% {
    clip: rect(84px, 9999px, 40px, 0);
    transform: skew(0.1deg);
  }
  70% {
    clip: rect(16px, 9999px, 35px, 0);
    transform: skew(0.99deg);
  }
  75% {
    clip: rect(61px, 9999px, 68px, 0);
    transform: skew(0.53deg);
  }
  80% {
    clip: rect(8px, 9999px, 12px, 0);
    transform: skew(0.42deg);
  }
  85% {
    clip: rect(7px, 9999px, 83px, 0);
    transform: skew(0.81deg);
  }
  90% {
    clip: rect(78px, 9999px, 23px, 0);
    transform: skew(0.74deg);
  }
  95% {
    clip: rect(20px, 9999px, 33px, 0);
    transform: skew(0.52deg);
  }
  100% {
    clip: rect(32px, 9999px, 62px, 0);
    transform: skew(0.72deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(33px, 9999px, 90px, 0);
    transform: skew(0.7deg);
  }
  5% {
    clip: rect(21px, 9999px, 81px, 0);
    transform: skew(0.03deg);
  }
  10% {
    clip: rect(74px, 9999px, 93px, 0);
    transform: skew(0.59deg);
  }
  15% {
    clip: rect(74px, 9999px, 35px, 0);
    transform: skew(0.85deg);
  }
  20% {
    clip: rect(13px, 9999px, 4px, 0);
    transform: skew(0.45deg);
  }
  25% {
    clip: rect(60px, 9999px, 81px, 0);
    transform: skew(0.06deg);
  }
  30% {
    clip: rect(33px, 9999px, 18px, 0);
    transform: skew(0.12deg);
  }
  35% {
    clip: rect(5px, 9999px, 57px, 0);
    transform: skew(0.93deg);
  }
  40% {
    clip: rect(74px, 9999px, 78px, 0);
    transform: skew(0.72deg);
  }
  45% {
    clip: rect(58px, 9999px, 82px, 0);
    transform: skew(0.25deg);
  }
  50% {
    clip: rect(13px, 9999px, 87px, 0);
    transform: skew(0.01deg);
  }
  55% {
    clip: rect(63px, 9999px, 100px, 0);
    transform: skew(0.24deg);
  }
  60% {
    clip: rect(98px, 9999px, 76px, 0);
    transform: skew(0.23deg);
  }
  65% {
    clip: rect(86px, 9999px, 22px, 0);
    transform: skew(0.04deg);
  }
  70% {
    clip: rect(75px, 9999px, 16px, 0);
    transform: skew(0.1deg);
  }
  75% {
    clip: rect(50px, 9999px, 99px, 0);
    transform: skew(0.72deg);
  }
  80% {
    clip: rect(58px, 9999px, 62px, 0);
    transform: skew(0.89deg);
  }
  85% {
    clip: rect(85px, 9999px, 91px, 0);
    transform: skew(0.45deg);
  }
  90% {
    clip: rect(100px, 9999px, 28px, 0);
    transform: skew(0.94deg);
  }
  95% {
    clip: rect(46px, 9999px, 37px, 0);
    transform: skew(0.92deg);
  }
  100% {
    clip: rect(37px, 9999px, 51px, 0);
    transform: skew(0.95deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(-4deg);
  }
  20% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(3deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(3deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(4deg);
  }
}
