main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form {
  margin: 0;
  color: orange;
  font: inherit;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 8px double orange;
  border-radius: 10px;
  width: 90vw;
  text-align: center;
}

.signup-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.signup-form label,
.signup-form input {
  width: 100%;
  margin: 0.2rem 0;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  /* text-align: center; */
}

.signup-form input[type="checkbox"] {
  background-color: white;
  appearance: none;
  margin: 0.2rem;
  padding: 0;
  border: 3px solid orange;
  width: 1rem;
  height: 1rem;
}

.signup-form input[type="checkbox"]:focus {
  outline: none;
}

.submit-button {
  color: orange;
  border: 3px solid orange;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem 0;
  background: none;
  font: inherit;
  font-weight: bold;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.submit-button:hover,
.submit-button:active {
  background: orange;
  color: white;
}
.submit-button:focus {
  outline: none;
}
