main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.background-image {
  background-image: url(../pics/about_bgrd.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 85vh;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.signup-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.signup-form {
  margin: 0;
  color: orange;
  background: rgba(0, 0, 0, 0.4);
  font: inherit;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px double orange;
  border-radius: 10px;
  width: 90vw;
  backdrop-filter: blur(5px);
  text-align: center;
}

.signup-form :invalid {
  border-color: red;
  background-color: rgb(255, 160, 160);
}

.signup-form label,
.signup-form input,
.signup-form select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.2rem;
  font: inherit;
}

.signup-form select {
  background-color: white;
  border: 3px solid orange;
  border-radius: 5px;
}

.signup-form label {
  font-weight: bold;
  min-width: max-content;
  margin: auto;
}

.signup-form input {
  background-color: white;
  border: 3px solid orange;
  border-radius: 5px;
}

.signup-form input:focus {
  color: white;
  background-color: orange;
}
.signup-form input::selection {
  color: orange;
  background-color: #242424;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.checkbox-container a {
  color: rgb(226, 124, 0);
}

.checkbox-container a:hover,
.checkbox-container a:active {
  color: white;
}

.signup-form input[type="checkbox"] {
  appearance: none;
  background-color: white;
  margin: 0 0.2rem;
  padding: 0;
  border: 3px solid orange;
  border-radius: 5px;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.signup-form input[type="checkbox"]:checked {
  background-color: darkorange;
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button {
  color: orange;
  border: 3px solid orange;
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 0.5rem;
  background: none;
  font: inherit;
  font-weight: bold;
  width: 60vw;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:active {
  background: orange;
  color: white;
}
.submit-button:focus,
.signup-form input,
.signup-form select {
  outline: none;
}

@media (min-width: 48rem) and (orientation: landscape) {
  .signup-title {
    text-align: left;
  }
  .signup-form {
    width: 50vw;
    max-width: 48rem;
    text-align: left;
  }

  .checkbox-container {
    justify-content: flex-start;
  }

  .submit {
    justify-content: flex-end;
  }
  .submit-button {
    max-width: max-content;
  }
}
